{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1 class="display-4" style="font-family: 'Bitter', serif">The latest shoes</h1>
        <div class="row">
    {% for shoe in latestShoes %}
        <!-- Card -->
        <div class="col-md-2">
        <div class="card">
            <!-- Card image -->
            <a href="{{ path('shoe_view', {'id': shoe.id}) }}"><img class="card-img-top"  src="{{ asset('uploads/images/' ~ shoe.images.snapshot[0].name) }}" alt="Card image cap"></a>

            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h5 class="card-title"><a href="{{ path('shoe_view', {'id': shoe.id}) }}">{{ shoe.brand }} {{ shoe.model }}</a></h5>
                <!-- Text -->
                <p class="card-text">
                    <i class="fab fa-gripfire"></i>
                    <span>{{ shoe.likes }}</span>
                </p>
            </div>
        </div>
        </div>
    {% endfor %}
            <div class="col-md-2">
                <div class="card h-100 justify-content-center">
                    <div class="card-title text-center">
                        <!-- Title -->
                        <h4 class="card-title"><a href="{{ path('list_shoes_id' , {'id': 1}) }}">See more</a>
                        </h4>
                        <!-- Text -->
                    </div>
                </div>
            </div>
        </div>
        <h1 class="display-4 mt-5" style="font-family: 'Bitter', serif">The most fiery shoes</h1>
        <div class="row mb-5">
    {% for shoe in likedShoes %}
            <!-- Card -->
            <div class="col-md-2">
                <div class="card">
                    <!-- Card image -->
                    <a href="{{ path('shoe_view', {'id': shoe.id}) }}"><img class="card-img-top" src="{{ asset('uploads/images/' ~ shoe.images.snapshot[0].name) }}" alt="Card image cap"></a>

                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h5 class="card-title"><a href="{{ path('shoe_view', {'id': shoe.id}) }}">{{ shoe.brand }} {{ shoe.model }}</a></h5>
                        <!-- Text -->
                        <p class="card-text">
                            <i class="fab fa-gripfire"></i>
                            <span>{{ shoe.likes }}</span>
                        </p>
                    </div>
                </div>
            </div>
    {% endfor %}
            <div class="col-md-2">
                <div class="card h-100 justify-content-center">
                    <div class="card-title text-center">
                        <!-- Title -->
                        <h4 class="card-title"><a href="{{ path('list_shoes_id' , {'id': 2}) }}">See more</a>
                        </h4>
                        <!-- Text -->
                    </div>
                </div>
            </div>
    </div>
    </div>
{% endblock %}