{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center align-items-center">
    <div class="col-lg-4">
    <h1><a href="{{ path('shoe_view', {'id': shoe.id}) }}">{{ shoe.brand }} {{ shoe.model }}</a></h1>
    <ul id="messages">
    {% for key,message in chat %}
        {% if message.sender == "Me" %}
            {% set backColor = "#DED9C7" %}
            {% set color = "#544F4D" %}
        {% else %}
            {% set backColor = "" %}
            {% set color = "" %}
        {% endif %}
        <li style="margin-bottom: 1rem;">
        <small class="font-weight-bold" id="sender{{ key }}">{{ message.sender }}:</small>
            <div class="alert alert-primary alert-ff" style="color: {{ color }};background-color: {{ backColor }};">
            <div class="font-weight-bold" id="text{{ key }}">{{ message.text }}</div>
            </div>
        <small id="time{{ key }}">{{ message.time }}</small>
        </li>
    {% endfor %}
    </ul>
    <form method="POST" enctype="multipart/form-data" action="{{ path('message_chat', {"shoeId": shoe.id, "userId": recipient.id}) }}">
        <input class="form-control mb-3" style="width: 75%; display: inline;" type="text" name="messageText">
        <button style="display: inline; border: none; background-color: transparent;" type="submit" name="submit">
            <i class="fas fa-paper-plane"></i>
        </button>
    </form>
    </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var lastKey = 0;
        var constKey = 0;
        function send() {
            $.ajax({
                url: "{{ path('message_refresh') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    shoeId: {{ shoe.id }},
                    recipientId: {{ recipient.id }}
                },
                success:function (chat) {
                    $.each(chat, function (key,message) {
                        if (document.getElementById("sender" + key) === null && constKey < key) {
                            var color = "";
                            var backColor = "";
                            if (message.sender == "Me")
                            {
                                backColor = "#DED9C7";
                                color = "#544F4D";
                            } else {
                                backColor = "";
                                color = "";
                            }

                            $('#messages').append("<li style=\"margin-bottom: 1rem;\">\n" +
                                "<small class=\"font-weight-bold\">" + message.sender + ":" + "</small>\n" +
                                "<div class=\"alert alert-primary alert-ff\" style=\"color: " + color + ";background-color: " + backColor + ";\">" +
                                "<div class=\"font-weight-bold\">" + message.text + "</div>\n" + "</div>\n" +
                                "<div>" + message.time + "</div>\n" +
                                "</li>");
                        }else if (document.getElementById("sender" + key) !== null){
                            document.getElementById("sender" + key).innerHTML = message.sender + ":";
                            document.getElementById("text" + key).innerHTML = message.text;
                            document.getElementById("time" + key).innerHTML = message.time;
                        }

                        lastKey = key;
                    });
                    constKey = lastKey;
                    setTimeout(function () {
                        send();
                    }, 3000)
                }
            })
        }

        send();
    </script>
{% endblock %}