{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flashMssg">
                {{ message }}
                <a class="alert-close">×</a>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
    <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
    <h1 class="text-center mb-5 mt-5 display-5 font-weight-bold" style="text-shadow: 1px 1px 4px black;">SELL SHOES</h1>
    {% if(isAdmin) %}
    <form method="POST" class="text-center border border-light p-5 mb-5" enctype="multipart/form-data" action="{{ path('admin_shoe_create') }}">
        <div>
            Brand: {{ form_widget(form.brand, {'attr': {'class': 'form-control mb-4' }}) }} Or (CUSTOM): <input class="form-control mb-4" type="text" name="brandToAdd">
        </div>
        <div>
            Model: <input class="form-control mb-4" type="text" name="modelToAdd" required>
        </div>
        <div>
            Upload pictures: {{ form_widget(form.uploadImages, {'attr': {'class': '' }}) }}
        </div>
        <div>
            <input class="btn rgba-gradient btn-block my-4" type="submit" name="Create" value="Create new shoe">
        </div>
        {{ form_row(form._token) }}
    </form>
    </div>
    </div>
        </div>
    {% else %}
    <form method="POST" class="text-center border border-light p-5 mb-5" enctype="multipart/form-data" action="{{ path('shoe_sell_id') }}">
        <div>
            Brand: {{ form_widget(form.brand, {'attr': {'class': 'form-control mb-4' }}) }}
        </div>
        <div>
            Model: {{ form_widget(form.model, {'attr': {'class': 'form-control mb-4' }}) }}
        </div>
        <div>
            Price: <input class="form-control mb-4" type="number" min="0" name="price" required>
        </div>
        <div>
            Size: <select class="form-control mb-4" name="size" required>
                <option value="">Please select size</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
            </select>
        </div>
        <div>
            Condition: {{ form_widget(form.condition, {'attr': {'class': 'form-control mb-4' }}) }}
        </div>
        <div class="mb-4" id="1">
            <span style="display: inline-block;">Rate the condition: {{ form_widget(form.conditionOutOf10, {'attr': {'class': 'form-control', 'style': 'width: 95%'}}) }}</span>
            <span style="display: inline-block;">/10</span>
        </div>
        <div id="2">
            Upload pictures: {{ form_widget(form.uploadImages, {'attr': {'class': ''}}) }}
        </div>
        <div>
            <input class="btn rgba-gradient btn-block my-4" type="submit" name="Create" value="Put for selling">
        </div>
        {{ form_row(form._token) }}
    </form>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#shoe_brand').on('change',function () {
            var brandSelector = $(this);

            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('models_from_brands') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    brandid: brandSelector.val()
                },
                success: function (models) {
                    var modelSelect = $("#shoe_model");

                    // Remove current options
                    modelSelect.html('');

                    // Empty value ...
                    modelSelect.append('<option value>Please select model</option>');


                    $.each(models, function (key, model) {
                        modelSelect.append('<option value="' + model.id + '">' + model.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            }).done(function(res){
                console.log(res);
            });
        });
    </script>
    <script>
        var div1 = document.getElementById("1");
        var div2 = document.getElementById("2");
        div1.style.display = "none";
        div2.style.display = "none";
        $('#shoe_condition').on('change', function () {
            var condition = $(this).val();
            if (condition == 'used'){
                div1.style.display = "block";
                div2.style.display = "block";
            }else{
                div1.style.display = "none";
                div2.style.display = "none";
            }
        });
    </script>
{% endblock %}