{% extends 'base.html.twig' %}

{% block body %}
    {% if(isAdmin) %}
    <form method="POST" enctype="multipart/form-data" action="{{ path('admin_shoe_create') }}">
        <div>
            Brand: {{ form_widget(form.brand) }} Or: <input type="text" name="brandToAdd">
        </div>
        <div>
            Model: <input type="text" name="modelToAdd">
        </div>
        <div>
            Upload pictures: {{ form_widget(form.uploadImages) }}
        </div>
        <div>
            <input type="submit" name="Create" value="Create new shoe">
        </div>
    </form>
    {% else %}
    <form method="POST" enctype="multipart/form-data" action="{{ path('shoe_sell_id') }}">
        <div>
            Brand: {{ form_widget(form.brand) }}
        </div>
        <div>
            Model: {{ form_widget(form.model) }}
        </div>
        <div>
            Price: <input type="text" name="price">
        </div>
        <div>
            Size: <select name="size">
                <option value="">Please select size</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
            </select>
        </div>
        <div>
            Condition: {{ form_widget(form.condition) }}
        </div>
        <div id="1">
            Rate the condition: {{ form_widget(form.conditionOutOf10) }}/10
        </div>
        <div id="2">
            Upload pictures: {{ form_widget(form.uploadImages) }}
        </div>
        <div>
            <input type="submit" name="Create" value="Put for selling">
        </div>
    </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $('#shoe_brand').on('change',function () {
            var brandSelector = $(this);

            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('models_from_brands') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    brandid: brandSelector.val()
                },
                success: function (models) {
                    var modelSelect = $("#shoe_model");

                    // Remove current options
                    modelSelect.html('');

                    // Empty value ...
                    modelSelect.append('<option value>Please select model</option>');


                    $.each(models, function (key, model) {
                        modelSelect.append('<option value="' + model.id + '">' + model.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            }).done(function(res){
                console.log(res);
            });
        });
    </script>
    <script>
        var div1 = document.getElementById("1");
        var div2 = document.getElementById("2");
        div1.style.display = "none";
        div2.style.display = "none";
        $('#shoe_condition').on('change', function () {
            var condition = $(this).val();
            if (condition == 'used'){
                div1.style.display = "block";
                div2.style.display = "block";
            }else{
                div1.style.display = "none";
                div2.style.display = "none";
            }
        });
    </script>
{% endblock %}