{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Sort by:
        <select id="sort" class="browser-default custom-select" style="width: 15%;" onchange="location = this.value;">
            <option value="">Please choose</option>
            <option value="{{ path('list_shoes_id', {'id': 1}) }}">New release</option>
            <option value="{{ path('list_shoes_id', {'id': 2}) }}">Most fires</option>
        </select>
    <div class="row mt-5 mb-5">
    {% for shoe in pagination %}
            <!-- Card -->
            <div class="col-md-2">
                <div class="card">
                    <!-- Card image -->
                    <a href="{{ path('shoe_view', {'id': shoe.id}) }}"><img class="card-img-top" src="{{ asset('uploads/images/' ~ shoe.images.snapshot[0].name) }}" alt="Card image cap"></a>

                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h5 class="card-title"><a href="{{ path('shoe_view', {'id': shoe.id}) }}">{{ shoe.brand }} {{ shoe.model }}</a></h5>
                        <!-- Text -->
                        <p class="card-text">
                            <i class="fab fa-gripfire"></i>
                            <span>{{ shoe.likes }}</span>
                        </p>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-12">
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script>
        var id = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
        console.log(id);
        if (id != null)
        {
            switch (id) {
                case "1": document.getElementById("sort").value = "{{ path('list_shoes_id', {'id': 1}) }}"; break;
                case "2": document.getElementById("sort").value = "{{ path('list_shoes_id', {'id': 2}) }}"; break;
            }
        }
    </script>
{% endblock %}
