{% extends 'base.html.twig' %}

{% block body %}
    <div id="success"></div>
    <div>Do you want to see <a href="{{ path('list_used_shoes', {'id': shoe.id}) }}">used shoes</a> of this model</div>
    <div>
    {% for image in shoe.images %}
    <img src="{{ asset('uploads/images/' ~ image.name) }}">
    {% endfor %}
    </div>
    <div>
        {{ shoe.brand.name }}
        {{ shoe.model.name }}
    </div>
    {% if (shoe.condition == "new") %}
        <div>
            {% if (shoe.sizes != null) %}
                <select id="size">
                    <option value="">Please select size</option>
                    {% for size in shoe.sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <h6>SOLD OUT</h6>
            {% endif %}
        </div>
        <div id="price"></div>
        <div>
            <a href="{{ path('shoe_sell_id', {'id': shoe.id}) }}"><input type="button" value="Sell"></a>
    {% else %}
        <div>
            Condition: {{ shoe.conditionOutOf10 }}
        </div>
        <div>
            Price: {{ shoe.sellers[0].price }}
            Size: {{ shoe.sellers[0].size }}
        </div>
        <div>
            <a href="#"><input type="button" value="Message seller"></a>
    {% endif %}
    {% if ((shoe.sizes != null)) %}
        <input type="button" id="buy" value="Buy">
    {% endif %}
        </div>
    <div>
        <i id="likeButtn" class="glyphicon glyphicon-fire"></i>
        <span id="likes"></span>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('#size').on('change', function () {
           var sizeSelector = $(this);

            $.ajax({
                url: "{{ path('add_to_cart') }}",
                type: "GET",
                dataType: "TEXT",
                data: {
                    shoeId: {{ shoe.id }},
                    sizeNum: sizeSelector.val(),
                    price: "true"
                },
                success: function (price) {
                    $('#price').text("Price: " + price);
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            }).done(function(res){
                    console.log(res);
                });
        });
    </script>
    <script>
        $('#buy').on('click', function () {
            $.ajax({
                url: "{{ path('add_to_cart') }}",
                type: "GET",
                data: {
                    shoeId: {{ shoe.id }},
                    sizeNum: $('#size').val()
                },
                success: function () {
                    $('#success').text("The shoe is in the fire cart!");
                }})
            });
    </script>
    <script>
        if ({{ likeFlag }} == true)
        {
            $('#likes').text("Your and {{ shoe.likes - 1 }} other fires");
        } else
            {
                $('#likes').text("{{ shoe.likes }} fires");
            }

        $('#likeButtn').on('click', function() {
            $.ajax({
                url: "{{ path('shoe_likes', {'id' : shoe.id}) }}",
                type: "GET",
                success: function (likeFlag) {
                    if (likeFlag == true)
                    {
                        $('#likes').text("Your and {{ shoe.likes - const }} other fires");
                    } else {
                        $('#likes').text("{{ shoe.likes - const }} fires");
                    }
                }})
        });
    </script>
{% endblock %}