{% extends 'base.html.twig' %}

{% block body %}
<h1>USER REGISTER</h1>


<form method="POST" action="{{ path('security_register') }}">
    <div>
        Email: {{ form_widget(form.email) }}
    </div>
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <div>
        Full Name: {{ form_widget(form.fullName) }}
    </div>
    <div>
        <input type="submit" name="register" value="Register">
    </div>
    <div>If you have account you can <a href="{{ path('security_login') }}">login</a>.</div>
    {{ form_row(form._token) }}
</form>
{% endblock %}